/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );
html {
  overflow:auto
}

::-webkit-scrollbar {
  width: 14px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #BFBFBF; 
  border-radius: 100px;
  background-clip: padding-box;
  border: 3px solid rgba(0, 0, 0, 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888; 
  border-radius: 100px;
  background-clip: padding-box;
  border: 3px solid rgba(0, 0, 0, 0);
}

.cursor-pointer {
  cursor: pointer;
}
